<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/chat/">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <title>WebSocket在线聊天室</title>

    <!-- jquery -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- bootbox -->
    <script src="https://cdn.bootcss.com/bootbox.js/4.4.0/bootbox.min.js"></script>

    <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <a class="navbar-brand" href="http://106.14.200.121">wch的个人主页</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#collapseMenu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapseMenu">
                <ul class="nav navbar-nav">
                    <li class="nav-li">
                        <a href="https://github.com/wch853/chat" target="_blank">本项目github</a>
                    </li>
                    <li class="nav-li">
                        <a href="http://106.14.200.121/wch.pdf" target="_blank">个人简历</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="page-content col-md-offset-2 col-md-8 col-sm-12">
        <div class="page-header">
            <h1>
                在线聊天室
                <small>使用WebSocket</small>
            </h1>
        </div>

        <!--<div id="chat-body">-->
            <!--<div id="chat-area">-->
                <!--111-->
            <!--</div>-->
            <!--<div id="chat-bar">-->
                <!--222-->
            <!--</div>-->
            <!--<div id="chat-input">-->
                <!--333-->
            <!--</div>-->
        <!--</div>-->


    </div>

    <div class="container-fluid">
        <input id="ipt" class="form-control">
        <button id="send" class="btn btn-primary">send</button>
        <button id="disconnect" class="btn btn-primary">disconnect</button>
        <h1 id="txt"></h1>
    </div>

</div>
<script type="text/javascript">
    var websocket;
    var url = 'ws://' + window.location.host + "/" + window.location.pathname.split("/")[1] + '/chatHandler';
    console.log(url);
    if (window.WebSocket) {
        console.log('Support WebSocket.');
        websocket = new WebSocket('ws://localhost:7090/chat/chatHandler');
    } else {
        alert('Not Support WebSocket!');
    }

    websocket.onopen = function () {
        console.log('WebSocket open!');
    };

    websocket.onmessage = function (event) {
        $('#txt').text(event.data);
    };

    websocket.onerror = function () {
        alert('WebSocket error, reload the page!');
    };

    websocket.onclose = function () {
        console.log('WebSocket close!')
    };

    window.onbeforeunload = function () {
        websocket.close();
    };

    var request = new Object();
    request.type = 'chatText';
    request.text = '';
    $('#send').click(function () {
        var text = $('#ipt').val();
        request.text  = text;
        websocket.send(JSON.stringify(request));
    });

    $('#disconnect').click(function () {
        websocket.close();
    });
</script>
</body>
</html>